@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color:white;
}

body{
    margin:0 10%;
    background-color: #45494E;
}